/**
1. extra small - devices < 576px width ->base rule extra small ke liye hoge
2. small devices - 768px width
3. medium screens - 992px width
4. large screen - < 1200px width
5. extra large - >= 1200px
*/
@define-mixin smallScreen {
	@media(min-width: 576px) {
		@mixin-content
	}
}

@define-mixin mediumScreen {
	@media(min-width: 768px) {
		@mixin-content
	}
}

@define-mixin largeScreen {
	@media(min-width: 992px) {
		@mixin-content
	}
}

@define-mixin extraLargeScreen {
	@media(min-width: 1200px) {
		@mixin-content
	}
}
