.btn{
       display: inline-block;
       line-height: 1;
       padding: 0.5rem 1rem;
       border-radius: 6px;
       text-align: center;
       font-size: 0.75rem;

       @mixin smallScreen{
              font-size: 0.915rem;
       }
       @mixin mediumScreen{
              padding: 0.75rem 1.25rem;
       }

       &-blue{
              color: $white;
              background-color: $mainBlue;
       }
       &:hover{
             background-color: $btnHoverBlue;
             color: $white;
       }
       &-white{
              background-color: $white;
              color: $mainBlue;
       }
}